.details-annonce .infos .buttom{
	padding-top: 20px;
	padding-bottom: 20px;
}

.details-annonce .infos p{
	padding-top: 20px;
	padding-bottom: 20px;
}


.details-annonce .details .table-content{
	background-color: #ea9631;
}